.App {
  max-width: 85%;
  margin: auto;
  margin-top: 45px;
  text-align: center;
}

button, input {
  border: none;
  padding: 8px;
  border-radius: 5px;
  background: #eee;
  color: #282828;
  margin: 5px;
}